@import "tailwindcss";

.streak {
  @apply bg-orange-100 px-3 py-1 rounded-full text-orange-600 font-bold text-xs md:text-sm shadow-sm animate-pulse border border-orange-200
}
.star {
  @apply bg-yellow-400 text-white px-3 py-1 md:px-4 md:py-2 rounded-full font-black shadow-md border-2 border-yellow-500 flex items-center gap-1 text-sm md:text-base
}
