@import "tailwindcss";
@import './base.css';
@import '../styles/keyboard.css';
@import './custom.css';
@theme{
  --font-cute:ZCOO LKuaiLe,sans-serif;
  --font-ui:Noto Sans SC, sans-serif;
}
#app {
  max-width: 100vw;
  /* height: 100vh; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

